@mixin blue-button($width, $height) {
  width: $width;
  height: $height;
  flex-shrink: 0;

  border-radius: 10px;
  border: none;
  text-align: center;
  cursor: pointer;

  color: #fff;
  background-color: $primary;

  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: 0.3s ease;
  &:hover {
    background-color: $secondary;
  }
}

@mixin pagination-button() {
  width: auto;
  height: auto;
  flex-shrink: 0;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid;
  transition: 0.3s ease;
  // &:hover {
  //   background-color: $secondary;
  // }
  &:hover {
    color: white;
    background-color: $secondary;
  }
}
