@use "./variables.scss" as *;
@import "./resultPage.scss";
@import "./homePage.scss";
@import "./logo.scss";
@import "./resultsListField.scss";
@import "./homepageSearch.scss";
@import "./addRecordPage.scss";
@import "./searchBar.scss";
@import "./functions.scss";
@import "./addNewRecordBtn.scss";
@import "./footer.scss";
@import "./slider.scss";
@import "./toastMessage.scss";

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.container {
  @media screen and (max-width: $genislik-kucuk) {
    width: 768px;
  }

  @media screen and (min-width: #{$genislik-kucuk + 1}) and (max-width: $genislik-orta) {
    width: 1280px;
  }

  @media screen and (min-width: #{$genislik-orta + 1}) {
    width: 1280px;
  }
}
