.search-bar {
  width: 100%;
  div {
    display: flex;
    align-items: center;
    gap: 1rem;
    @media screen and (max-width: 800px) {
      width: auto;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
    }
    form {
      display: flex;
      align-items: center;
      margin: 12px 5px;
      padding: 10px;
      border-radius: 8px;
      border: 2px solid $primary;

      input {
        padding: 0 10px;
        border: none;
        outline: none;
        min-width: 400px;
        font-size: 16px;
        font-weight: 100;
        @media screen and (max-width: 800px) {
          min-width: auto;
        }
      }
      img {
        width: 24px;
        height: 24px;
      }
    }
    button {
      @include blue-button(138px, 46px);
      * {
        text-decoration: none;
        color: white;
      }
    }
  }
}
